{% extends 'ecom/container.html' %}
{% block title%} Login {% endblock %}
{% block css %}
body{
  background-color: white !important;
}
.container-div{
  width: 68% !important;
  background-color: white !important;
  box-shadow: -3px 2px 13px 4px rgba(0,0,0,0.24);
  -webkit-box-shadow: -3px 2px 13px 4px rgba(0,0,0,0.24);
  -moz-box-shadow: -3px 2px 13px 4px rgba(0,0,0,0.24);
}
.panel-title{
  text-align:center; 
  font-size: 20px; 
  font-weight: 700;
}
.totalbtn{
  background-color: #08ca5d;
}
.marginx{
  margin: 0 40px !important;
}
{% endblock css %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="py-4">
    <div class="panel panel-primary ">
        <div class="panel-heading">
          <h6 class="panel-title">My Cart</h6>
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Price</th>
              <th>Description</th>
              <th>Remove From Cart</th>
            </tr>
          </thead>
          {% for p in products %}
      {% if p %}
    
          <tr>
            <td> {{p.name}}</td>
            <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
    
            <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id  %}"><svg style="width: 13px; fill:white;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/></svg></a></td>
    
          </tr>
          {%else%}
          <h1>no products</h1>
          {% endif %}
          {% endfor %}
        </table>
      </div>

    <div style="text-align: center;">
      <button class="btn totalbtn">Total R{{total}}</button>
      <a href="/customer-address"><button class="btn btn-primary" ><span>Proceed to Payment </span></button></a>
    </div>
</div>
</div>
{% endblock content %}